<!DOCTYPE html>
<html>

<head>
<title>Financials</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="header">
<h2>Financials</h2>
<a class="logout" href="/dashboard">Dashboard</a>
</div>

<div class="container">

<div class="box">

<h2>Customer Payments</h2>

<table>

<tr>
<th>ID</th>
<th>Customer</th>
<th>Total</th>
<th>Paid</th>
<th>Balance</th>
<th>Add Payment</th>
</tr>

{% for r in rentals %}

<tr>
<td>{{r.id}}</td>
<td>{{r.customer_name}}</td>
<td>₹{{r.total_amount}}</td>
<td>₹{{r.advance_paid}}</td>
<td>₹{{r.balance}}</td>

<td>

<form action="/add_payment/{{r.id}}" method="POST" style="display:flex;gap:6px;">

<input name="payment" placeholder="Amount">

<button>Add</button>

</form>

</td>

</tr>

{% endfor %}

</table>

</div>


<div class="box">

<h2>Vendor Payments</h2>

<table>

<tr>
<th>ID</th>
<th>Vendor</th>
<th>Total</th>
<th>Paid</th>
<th>Balance</th>
<th>Pay Vendor</th>
</tr>

{% for v in vendors %}

<tr>
<td>{{v.id}}</td>
<td>{{v.vendor_name}}</td>
<td>₹{{v.total}}</td>
<td>₹{{v.paid}}</td>
<td>₹{{v.balance}}</td>

<td>

<form action="/pay_vendor/{{v.id}}" method="POST" style="display:flex;gap:6px;">

<input name="payment" placeholder="Amount">

<button>Pay</button>

</form>

</td>

</tr>

{% endfor %}

</table>

</div>

</div>

</body>
</html>