<!DOCTYPE html>
<html>

<head>
<title>Rental Records</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="header">
<h2>Rental Records</h2>
<a class="logout" href="/dashboard">Dashboard</a>
</div>

<div class="container">

<div class="box">

<h2>All Rentals</h2>

<table>

<tr>
<th>ID</th>
<th>Customer</th>
<th>Phone</th>
<th>Start</th>
<th>End</th>
<th>Total</th>
<th>Paid</th>
<th>Balance</th>
<th>Status</th>
</tr>

{% for r in rentals %}

<tr>
<td>{{r.id}}</td>
<td>{{r.customer_name}}</td>
<td>{{r.phone}}</td>
<td>{{r.start_date}}</td>
<td>{{r.end_date}}</td>
<td>₹{{r.total_amount}}</td>
<td>₹{{r.advance_paid}}</td>
<td>₹{{r.balance}}</td>
<td>{{r.status}}</td>
</tr>

{% endfor %}

</table>

</div>

</div>

</body>
</html>